{% extends 'Student/index.html' %}
{% block content %}

    <style>
      .search{
      margin: 50px auto;
      }
      .search input[type=text]{
    width:300px;
    height:25px;
    border-radius:25px;
    border: none;

      }
      .search button{
    background-color: #0074D9;
    color: #f2f2f2;
    float: right;
    padding: 5px 10px;
    margin-right: 16px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    border-radius:12px;
}
  </style>
    <!-- Page Content -->
    <div class="page-heading products-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h4>most popular</h4>
              <h2>books for you</h2>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="service-single-page editContent" style="float: right;">
      <form action="{% url 'std_booksearch' %}" method="get">
        {% csrf_token %}
            <div class="input-group" style="width: 300px; 
            margin-top: 15px;">
              <input type="search" name="search" class="form-control rounded" placeholder="Search Book" aria-label="Search" aria-describedby="search-addon" 
              quired />
              <button type="submit" class="btn btn-outline-danger" data-mdb-ripple-init>search</button>
          </div>
        </form>
    </div> 
    <div class="products">
      <div class="container">
       
        <div class="row">
          
          <div class="col-md-12">
            <div class="filters">
              <ul>
                  <a href="{% url 'student_books' %}"><li class="active" >All Books</li></a>
                  <li data-filter=".Fic,.fic">Fiction</li>
                  <li data-filter=".Rom,.rom">Romance</li>
                  <li data-filter=".Edu,.edu">Education</li>
                  <li data-filter=".act,.Act">Action</li>
                  <li data-filter=".Aut,.aut">autobiography</li>
                  <li data-filter=".Per,.per">personal development</li>
              </ul>
            </div>
          </div>

          <div class="col-md-12">
          <div class="filters-content">
              <div class="row grid">
                  {% for book in books %}
                      <div class="col-lg-4 col-md-4 all {{book.genre|slice:'0:3'}}">
                      <div class="product-item">
                      <a href="{% url 'view_book' id=book.id %}"><img src="{{book.image.url}}" alt=""></a>
                      <div class="down-content">
                      <a href="product1/{{i.id}}"><h4>{{book.bookname}} by {{book.author}}</h4></a>
                      <h4>Genre: {{book.genre}}</h4>
                      </div>
                      </div>
                      </div>
                  {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


{% endblock %}
   