<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>No book available</title>
    <link rel="stylesheet" href="{% static 'css/nobook.css' %}">
</head>
<body>
<!--<h5>SORRY</h5>-->
    <h3>BOOK NOT FOUND</h3>
    <div class="box">
			<span></span><span></span>
			<span></span><span></span>
			<span></span>
		</div>
    <div class="box">
			<span></span><span></span>
			<span></span><span></span>
			<span></span>
		</div>
    <p> The book you are looking for is obtained by someone else.You can
			<br/>
			<a href="product">Go Back</a>
			now and visit here later.</p>

</body>
</html>