<!DOCTYPE html>
<html lang="en">
{% load static %}
  <head>
      <style>
          .search{
          margin: 50px auto;
          }
          .search input[type=text]{
        width:300px;
        height:25px;
        border-radius:25px;
        border: none;

          }
          .search button{
        background-color: #0074D9;
        color: #f2f2f2;
        float: right;
        padding: 5px 10px;
        margin-right: 16px;
        font-size: 12px;
        border: none;
        cursor: pointer;
        border-radius:12px;
    }
      </style>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Books</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<!--

TemplateMo 546 Sixteen Clothing

https://templatemo.com/tm-546-sixteen-clothing

-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/templatemo-sixteen.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.css' %}">
<!--    <link rel="stylesheet" href="{% static 'css/search.css' %}">-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>

  <body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand"><h2>E <em>Library</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="index">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="product">Books</a>
              </li>
                <li class="nav-item">
                <a class="nav-link" href="user">History</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact">Contact Us</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="changepassword">Change Password</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="logout">Logout</a>
              </li>
               <li class="nav-item">

                <a class="nav-link" href="profile"><i class="fa-solid fa-user"></i> {{user.username}}</a>

              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>


    <!-- Page Content -->
    <div class="page-heading products-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h4>most popular</h4>
              <h2>books for you</h2>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="products">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="filters">
              <ul>
                  <li class="active" data-filter="*">All Books</li>
                  <li data-filter=".Hor,.hor">Horror</li>
                  <li data-filter=".Fic,.fic">Fiction</li>
                  <li data-filter=".Rom,.rom">Romance</li>
                  <li data-filter=".Ani,.ani">Animation</li>
              </ul>
            </div>
          </div>
<div class="col-md-12">
<div class="filters-content">
    <div class="row grid">

            {% for i in books %}
                <div class="col-lg-4 col-md-4 all {{i.genre|slice:'0:3'}}">
                <div class="product-item">
                <a href="product1/{{i.id}}"><img src="{{i.image.url}}" alt=""></a>
                <div class="down-content">
                <a href="product1/{{i.id}}"><h4>{{i.bookname}} by {{i.author}}</h4></a>
                <h4>Genre: {{i.genre}}</h4>
                </div>
                </div>
                </div>
            {% endfor %}
    </div>
</div>
</div>
        </div>
      </div>
    </div>



    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>


    <!-- Additional Scripts -->
    <script src="{% static 'js/custom.js' %}"></script>
    <script src="{% static 'js/owl.js' %}"></script>
    <script src="{% static 'js/slick.js' %}"></script>
    <script src="{% static 'js/isotope.js' %}"></script>
    <script src="{% static 'js/accordions.js' %}"></script>


    <script language = "text/Javascript"> 
      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
      function clearField(t){                   //declaring the array outside of the
      if(! cleared[t.id]){                      // function makes it static and global
          cleared[t.id] = 1;  // you could use true and false, but that's more typing
          t.value='';         // with more chance of typos
          t.style.color='#fff';
          }
      }
    </script>

  </body>

</html>
