{% extends 'Student/index.html' %}
{% block content %}

    <!-- Page Content -->
    <div class="page-heading pro-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h4>E library</h4>
              <h2>Edit Profile</h2>
            </div>
          </div>
        </div>
      </div>
    </div>


  &nbsp;<form action="{% url 'student_profile' %}" method="post">
      {% csrf_token %}
 <center>
<i class="fa-solid fa-user"></i><input type="text" name="newname" placeholder="New name" required><br><br>
   <i class="fa-solid fa-envelope"></i><input type="email" name="newemail" placeholder="New email" required><br><br>
   <i class="fa-solid fa-phone"></i><input type="number" name="newphone" placeholder="New phone number" required><br><br>
 <button type="submit" class="btn btn-success">Confirm</button></center></center>



  </form>

{% endblock %}
