{% extends 'Student/index.html' %}
{% block content %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/table1.css' %}">
    <style>

      table {
  border-collapse: collapse;
  width: 100%;
}
table,th,td {
  border:1px solid black;
  }
th {
 background-color:#5e5618;
 color:white;
 }
th, td {
  padding: 8px;
  text-align: left;

}

td:hover {background-color: #cccccc;}

    </style>



    <div class="page-heading about-heading1 header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
           
              <h2>Teachers</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
   <div class="best-features about-features">
      <div class="container">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Department</th>
              <th scope="col">Email</th>
            </tr>
          </thead>
          <tbody>
          {% for teacher in teachers %}
            <tr>
              <td>{{teacher.username}}</td>
              <td>{{teacher.department_id.department_name}}</td>
              <td>{{ teacher.email}}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
   </div>

{% endblock %}
