{% extends 'Student/index.html' %}
{% block content %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/table1.css' %}">
    <style>

      table {
  border-collapse: collapse;
  width: 100%;
}
table,th,td {
  border:1px solid black;
  }
th {
 background-color:#5e5618;
 color:white;
 }
th, td {
  padding: 8px;
  text-align: left;

}

td:hover {background-color: #cccccc;}

    </style>



    <div class="page-heading about-heading1 header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h4>User</h4>
              <h2>History</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
   <div class="best-features about-features">
      <div class="container">
<table>
  <thead>
    <tr>
      <th scope="col">Book</th>
      <th scope="col">Taken On</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  {% for i in data1 %}
    <tr>
      <td>{{i.bookname}}</td>
      <td>{{i.issuedate}}</td>
      <td>
          <form action="return/{{i.id}}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-success">Return</button>
          </form>
          </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
      </div>
   </div>

{% endblock %}
