{% extends 'Student/index.html' %}
{% block content %}


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<!--      Page Content -->
<div class="page-heading about-heading header-text">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-content">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
      <img src="{{ book.image.url }}" alt="{{ book.bookname }}" class="img-fluid rounded">
      <div class="down-content mt-3">
        <h4>{{ book.bookname }} by {{ book.author }}</h4>
        <p>{{ book.description }}</p>
        <form action="{% url 'booking' %}" method="post">
          {% csrf_token %}
          <input type="hidden" value="{{ book.id }}" name="bookid">
          <button type="submit" class="btn btn-success">Get Book</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}

      



