<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
	<style>
		.link {
		text-align:center;
		color: white;
		padding: 5px 15px;
		}
		.button {
  border: none;
  color: white;
  padding: 5px 15px;
  margin-align:center;
  align: center;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 12px;
  margin: 0 auto;
  cursor: pointer;

}
    .button:hover {
  background-color: #fae8ac; /* Green */
  color: black;
}

	</style>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Librarian interface</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="{% static 'css/library.css' %}">
<link rel="stylesheet" href="{% static 'css/nav.css' %}">
<link rel="stylesheet" href="{% static 'css/editbook.css' %}">

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top navbar-shrink">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" >LIBRARIAN</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden active">
                        <a href="#page-top"></a>
                    </li>
<!--                    <li class="">-->
<!--                        <a class="page-scroll" href="history">History</a>-->
<!--                    </li>-->
<!--                    <li class="">-->
<!--                        <a class="page-scroll" href="#portfolio">Logout</a>-->
<!--                    </li>-->
<!--                    <li class="">-->
<!--                        <a class="page-scroll" href="#about">About</a>-->
<!--                    </li>-->
<!--                    <li class="">-->
<!--                        <a class="page-scroll" href="#team">Team</a>-->
<!--                    </li>-->
<!--                    <li class="">-->
<!--                        <a class="page-scroll" href="#contact">Contact</a>-->
<!--                    </li>-->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

<div class="link"><br><br><br><br><br><br>
<!--	<a class="btn btn-primary" href="history" role="button">History</a>-->
<!--	<a class="btn btn-primary" href="#" role="button">Logout</a>-->
<!--  <form action="history" method="post">-->
<!--    {% csrf_token %}-->
<!--<button type="submit" class="button" >History</button>-->
<!--    </form>-->
<!--	</div>-->
<!--  <div class="search">-->
</div>
 <div class="wrapper">
    <form action="{% url 'editbook' id=data.id %}" method="post"  class="form-signin" enctype="multipart/form-data">
        {% csrf_token %}
      <h2 class="form-signin-heading">Edit Book</h2>
        <label>Book Name</label>
      <input type="text" class="form-control" name="newbook"  value="{{ data.bookname }}" autofocus="" />
        <label>Author</label>
      <input type="text" class="form-control" name="newauthor" value="{{ data.author }}" />
        <label>Description</label>
      <input type="text" class="form-control" name="newdescription" value="{{ data.description }}" />
        <label>Genre</label>
      <input type="text" class="form-control" name="newgenre" value="{{ data.genre }}" />
        <label>Image</label>
      <input type="file" class="form-control" name="newimage" required/>
<!--      <label class="checkbox">-->
<!--        <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me-->
<!--      </label>-->
      <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
        <a class="btn btn-lg btn-primary btn-block" href="{% url 'library' %}" role="button">Go Back</a>
    </form>
  </div>
<script src="{% static 'js/library.js' %}"></script>
<script src="{% static 'js/nav.js' %}"></script>
<!--<script src="{% static 'js/editbook.js' %}"></script>-->
</body>
</html>