{% extends 'Librarian/user.html' %}
{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <div style="display: flex; justify-content: space-between; margin-top: 15px; margin-left: 65%;">
                        </div>
                        <form action="{% url 'search_book' %}" method="get">
                            {% csrf_token %}
                            <div class="input-group" style="margin-left: 65%; margin-top: 15px; display: flex;">
                                <input type="search" name="search" class="form-control rounded"
                                    placeholder="Search by Destination" aria-label="Search"
                                    aria-describedby="search-addon" required />
                                <button type="submit" class="btn btn-outline-primary"
                                    data-mdb-ripple-init>search</button>
                            </div>
                        </form>
                        <a href="{% url 'add_book' %}"><button class="btn btn-outline-primary" data-mdb-ripple-init
                                style=" margin-top: -25px;">Add Book</button></a>
                        <h4 class="title">Books</h4>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                                <th>Book name</th>
                                <th>author</th>
                                <th>genre</th>
                                <th>image</th>
                                <th>Actions</th>
                            </thead>
                            <tbody>
                                {% for book in books %}
                                <tr>
                                    <td>{{ book.bookname }}</td>
                                    <td>{{ book.author }}</td>
                                    <td>{{ book.genre }}</td>
                                    <td>
                                        <a href="{{ book.image.url }}" target="_blank">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-image" viewBox="0 0 16 16">
                                                <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
                                                <path d="M1.5 2A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2zm13 1a.5.5 0 0 1 .5.5v6l-3.775-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12v.54L1 12.5v-9a.5.5 0 0 1 .5-.5z"/>
                                              </svg>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{% url 'edit_book' id=book.id %}" title="Edit">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                <path
                                                    d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                                <path fill-rule="evenodd"
                                                    d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                                            </svg>
                                        </a>
                                        <a href="{% url 'delete_book' id=book.id %}" title="Delete"
                                            style="padding-left: 10px;">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                                <path
                                                    d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                                            </svg>
                                        </a>
                                    </td>

                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <!-- Pagination links -->
                        <div class="pagination mt-3 d-flex justify-content-end pe-5 mb-4  fw-bold text-white text-end ">
                            <span class="step-links  ">
                                {% if books.has_previous %}
                                <a class="btn btn-dark" href="?page=1">&laquo; first</a>
                                <a class="btn btn-dark" href="?page={{ books.previous_page_number }}">previous</a>
                                {% endif %}
                                {% if books.has_next %}

                                <!-- <a href="?page={{ books.paginator.num_pages }}" class="text-decoration-none text-white btn btn-dark ">last &raquo;</a> -->
                                {% endif %}
                                <span class="current text-dark">
                                    Page {{ books.number }} of {{ books.paginator.num_pages }}.
                                </span>

                                {% if books.has_next %}

                                <a href="?page={{ books.next_page_number }}"
                                    class="text-decoration-none text-white btn btn-dark ">next</a>
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




</div>
</div>

{% endblock %}